
<div class='container_login'>
<div class="logo">
  <div>
        <div class="text-3xl"><span class="font-bold">Broom</span><span class="font-ligth">App</span></div>
        <div class="text-xs font-light">developed by Lisit&trade;</div>
      </div>
</div>
<div class='container_login_form'>
<div class='container_logo_user'></div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div style="margin-bottom:15px" class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div style="margin-bottom:15px" class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit t('devise.sessions.new.sign_in'), class:"login_button" %>
  </div>
<% end %>


</div>

<%= render "devise/shared/links" %>

 
</div>
 